/* ------------------------------------------------------------------------------------------------------------------------------
ADVERTISING CUSTOM FORM ELEMENTS
--------------------------------------------------------------------------------------------------------------------------------*/

.advertising {
	--form-accent: rgb(188, 188, 188);

	padding-top: rem(20);
	width: 70%;

	@include lg {
		width: 100%;
	}

	// Название страницы
	&_title {
		font-weight: 500;
		font-size: rem(24);
		color: #1a1a1a;

		margin-bottom: rem(30);
	}

	// Раздел формы
	&_form-part {
		h3 {
			font-weight: 500;
			font-size: rem(20);
			color: #1a1a1a;

			padding-bottom: rem(25);
		}

		padding-top: rem(30);
		padding-bottom: rem(10);
		border-bottom: 2px solid var(--border);

		&.advertising_form-location {
			border-bottom: none;
		}
	}

	// Первый раздел формы
	&_form-intro {
		padding-top: rem(10);

		.advertising_input-block {
			width: 100%;
		}
	}

	// Контейнер с предзагрузчикои изоображений
	&_form-mediaload {
		h3 {
			padding-bottom: rem(10);
		}
	}

	// Контейнер с textarea (описание)
	&_form-description {
		padding-top: rem(35);
		padding-bottom: rem(25);
		h3 {
			padding-bottom: rem(15);
		}
	}

	// Раздел формы с ценником
	&_form-price {
		padding-top: rem(40);
		padding-bottom: rem(40);

		.checkbox input[type="checkbox"]:checked + .custom-checkbox,
		.radio input[type="radio"]:checked + .custom-radio {
			border-color: var(--accent);
			color: white !important;
			background-color: var(--accent);
		}
	}

	&_form-mediaload {
		padding-bottom: rem(20);

		.advertising_input-block {
			width: 100%;
		}
	}

	&_form-location {
		padding-bottom: rem(100);

		.btn {
			margin-top: rem(10);
			margin-bottom: rem(20);
		}
	}

	/********************************************************************* БЛОКИ *************************************************************/

	// Блок с textarae (описанием)
	&_textarea-block {
		margin-bottom: rem(20);

		.textarea {
			margin-bottom: rem(10);
			&:focus {
				outline: 1px solid var(--form-accent);
			}
		}
	}

	// Название блока
	&_block-name {
		display: block;
		font-weight: 500;
		font-size: rem(16);
		color: #1a1a1a;

		margin-bottom: rem(12);
	}
	// Подсказка внизу блока
	&_block-hint {
		font-weight: 400;
		font-size: rem(16);
		color: #878787;

		a {
			transition: all 0.3s ease-in-out;
			&:hover {
				opacity: 0.65;
			}
		}
	}

	// Блок с инпутом и счетчиком букв
	&_input-block {
		margin-bottom: rem(20);

		width: 50%;
		@include md {
			width: 75%;
		}

		@include sm {
			width: 100%;
		}

		label[for] {
			display: block;
			font-weight: 500;
			font-size: rem(16);
			color: #1a1a1a;

			margin-bottom: rem(12);
		}

		.form-group {
			.input {
				margin-bottom: rem(10);
				&:focus {
					outline: 1px solid var(--form-accent);
				}
			}
		}
	}

	// Блок с хлебными крошками
	&_breadcrumbs-block {
		.categorie-breadcrumbs {
			display: flex;
			align-items: center;
			gap: rem(10);

			margin-bottom: rem(15);

			&_link {
				color: #1a1a1a;
				transition: color 0.3s ease-in-out;
				&:hover {
					color: var(--accent);
				}
			}
			&_span {
				color: #1a1a1a;
			}
		}
	}

	// Блок с селектами
	&_select-block {
		margin-bottom: rem(20);

		width: 50%;
		@include md {
			width: 75%;
		}

		@include sm {
			width: 100%;
		}
	}

	// Блоки с радиобаттонами и чекбоксами
	&_radio-block,
	&_checkbox-block {
		margin-bottom: rem(20);

		.form-group-inrow {
			display: flex;
			flex-wrap: wrap;
			gap: rem(10);
		}

		.radio,
		.checkbox {
			display: block;
			position: relative;
			font-size: rem(14);
			user-select: none;
			cursor: pointer;
			font-weight: 400;
		}

		/* скрываем оригинальный радиобатон */
		.checkbox input[type="checkbox"],
		.radio input[type="radio"] {
			position: absolute;
			opacity: 0;
		}

		/* стиль кастомного овала */
		.custom-radio,
		.custom-checkbox {
			position: relative;

			display: flex;
			align-items: center;
			min-height: rem(40);
			padding: rem(5) rem(20);

			border: 1px solid #d5d5d5;
			border-radius: rem(100);

			color: #3d3d3d;
			background-color: #fff;

			transition: all 0.3s ease-in-out;
		}

		/* выделение выбранного варианта */
		.checkbox input[type="checkbox"]:checked + .custom-checkbox,
		.radio input[type="radio"]:checked + .custom-radio {
			border-color: var(--accent);
			color: var(--accent);
		}

		/* Можно добавить эффект при наведении */
		.checkbox:hover .custom-checkbox,
		.radio:hover .custom-radio {
			border-color: #999;
		}
	}

	// Блок в котором два инпута с ценами
	&_inputsrow-block {
		display: inline-flex;
		align-items: center;
		gap: rem(20);

		.input {
			max-width: rem(220);
			&:focus {
				outline: 1px solid var(--form-accent);
			}
		}
	}

	/********************************************************************* ДОП СТИЛИ *************************************************************/

	// Первый инпут в форме
	&_product-name {
		margin-bottom: rem(30);
	}

	// блок трансмиссии
	&_transmission-type {
		.custom-radio {
			background-color: #f3f3f3;
		}
		.radio input[type="radio"]:checked + .custom-radio {
			border-color: var(--accent);
			color: var(--accent);
			background-color: #fff;
		}
	}

	// блок модификации
	&_modification {
		.choices {
			margin-bottom: rem(10);
		}
	}

	&-new,
	&-electric {
		.advertising_breadcrumbs-block {
			margin-bottom: rem(15);
		}
	}
	&-used {
		.advertising_breadcrumbs-block {
			margin-bottom: rem(30);
		}
	}
}
