/* ------------------------------------------------------------------------------------------------------------------------------
CUSTOM CHOICES SELECT
--------------------------------------------------------------------------------------------------------------------------------*/

.choices {
	position: relative;

	&:focus {
		.choices__inner {
			border: 1px solid var(--accent);
		}
	}
}

/* Добавляем стрелку через псевдоэлемент */
.choices::before {
	content: "";
	position: absolute;
	right: 10px; /* позиция справа */
	top: 50%;
	transform: translateY(-50%);

	width: rem(24);
	height: rem(24);
	background-image: url("../../icons/down.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center center;

	opacity: 0.5;

	pointer-events: none; /* чтобы не мешала кликам */
}
.choices.is-open::before {
	transform: translateY(-50%) rotate(180deg);
}

.choices__inner {
	border: 1px solid #efeaea;
	border-radius: rem(5);
	min-height: rem(50);

	display: flex;
	align-items: center;
	padding-inline: rem(15);

	font-size: rem(16);
	font-weight: 400;
	color: #1a1a1a;
	width: initial;

	background-color: transparent;

	// transition: border-color 0.3s ease-in-out;
}

.choices__placeholder {
	opacity: 1;
}

.choices__list--dropdown .choices__item {
	padding: rem(15) rem(20) !important;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
	display: none;
	z-index: 1;
	position: absolute;
	width: 100%;
	background-color: #fff;
	border: 1px solid #efeaea;
	top: 100%;
	margin-top: -1px;
	border-bottom-left-radius: rem(5);
	border-bottom-right-radius: rem(5);
	overflow: hidden;
	word-break: break-all;
	min-width: 75px;

	border-color: var(--accent) !important;
}

.choices.is-focused .choices__inner {
	border-top-left-radius: rem(5);
	border-top-right-radius: rem(5);
}
.choices__item--choice.is-selected {
	background-color: var(--accent) !important;
	color: #fff;
}
.choices__item--disabled {
	display: none;
}

.choices[data-type*="select-one"]::after {
	display: none;
}

/*------------------------------------------- Usual select with label -----------------------------------------------*/

.usual-select-label {
	color: #1a1a1a;

	label {
		display: block;

		font-weight: 500;
		font-size: 16px;

		margin-bottom: 10px;
	}
	.choices {
		&:focus {
			// .choices__inner {
			// 	border: 1px solid #efeaea;
			// }
		}
		&::before {
			right: 10px;
			width: 26px;
			height: 26px;
		}
	}

	// .choices__list--dropdown,
	// .choices__list[aria-expanded] {
	// 	border-color: #efeaea !important;
	// }

	.choices.is-focused .choices__inner {
		border-radius: 5px;
	}

	.choices__inner {
		font-size: rem(16);
		border: 1px solid #efeaea;
		border-radius: 5px;
		min-height: rem(50);
	}
}

/*------------------------------------------- Small select with label -----------------------------------------------*/

.small-select-label {
	color: #1a1a1a;

	label {
		display: block;
		font-weight: 400;
		font-size: 14px;

		margin-bottom: 10px;
	}
	.choices {
		&:focus {
			.choices__inner {
				border: 1px solid #efeaea;
			}
		}
		&::before {
			right: 5px;
			width: 20px;
			height: 20px;
		}
	}

	.choices__inner {
		font-size: rem(14);
		border: 1px solid #efeaea;
		border-radius: 5px;
		min-height: rem(40);
	}
}

/*------------------------------------------- Search orderby filter -----------------------------------------------*/

.search-orderby {
	.choices {
		&:focus {
			.choices__inner {
				border: 1px solid transparent;
			}
		}

		&::before {
			right: 5px;
			width: 20px;
			height: 20px;
		}
	}

	.choices__inner {
		border: 1px solid transparent;
		padding-right: 15px;
	}

	.choices__list--dropdown,
	.choices__list[aria-expanded] {
		border-color: #efeaea !important;
	}
}
