/* ------------------------------------------------------------------------------------------------------------------------------
COMPONENTS
--------------------------------------------------------------------------------------------------------------------------------*/
.adv-mini {
	border-radius: rem(10);
	min-height: rem(107);

	width: rem(289);
	background: transparent;

	display: flex;
	flex-direction: column;
	justify-content: center; /* по горизонтали */
	align-items: center; /* по вертикали */

	overflow: hidden;
	flex-shrink: 0;

	border: 1px solid #e6e6e6;
	border-radius: rem(10);

	&:hover > * {
		cursor: pointer;
		transform: scale(1.1);
	}

	& > * {
		transition: all 0.3s ease-in-out;
	}

	img {
		height: 100%; /* растягиваем изображение по высоте контейнера */
		width: auto; /* сохраняем пропорции изображения по ширине */
		max-width: 100%; /* чтобы не выйти за границы контейнера по ширине */
		object-fit: cover;
		object-position: center center;
	}

	&__title {
		font-weight: 200;
		font-size: rem(50);
		text-align: center;
		color: #aeaeae;
	}
	&__annotation {
		font-weight: 300;
		font-size: 14px;
		text-align: center;
		color: #aeaeae;
	}
}

/*--------------------------------------------- Adv ------------------------------------------*/
.adv {
	border-radius: rem(10);
	aspect-ratio: 400/370;
	background: #f4f4f4;

	display: flex;
	justify-content: center; /* по горизонтали */
	align-items: center; /* по вертикали */

	overflow: hidden;
	flex-shrink: 0;

	font-weight: 200;
	font-size: rem(96);
	text-align: center;
	color: #aeaeae;

	&:hover > * {
		cursor: pointer;
		transform: scale(1.1);
	}

	& > * {
		transition: all 0.3s ease-in-out;
	}

	img {
		height: 100%; /* растягиваем изображение по высоте контейнера */
		width: auto; /* сохраняем пропорции изображения по ширине */
		max-width: 100%; /* чтобы не выйти за границы контейнера по ширине */
		object-fit: cover;
		object-position: center center;
	}
}

/*--------------------------------------------- Adv expanded ------------------------------------------*/
.adv-expanded {
	border-radius: rem(10);
	min-height: 100%;
	background: #f4f4f4;

	display: flex;
	justify-content: center; /* по горизонтали */
	align-items: center; /* по вертикали */

	overflow: hidden;
	flex-shrink: 0;

	font-weight: 200;
	font-size: rem(96);
	text-align: center;
	color: #aeaeae;

	&:hover > * {
		cursor: pointer;
		transform: scale(1.1);
	}

	& > * {
		transition: all 0.3s ease-in-out;
	}

	img {
		height: 100%; /* растягиваем изображение по высоте контейнера */
		width: auto; /* сохраняем пропорции изображения по ширине */
		max-width: 100%; /* чтобы не выйти за границы контейнера по ширине */
		object-fit: cover;
		object-position: center center;
	}
}

/*--------------------------------------------- Shop Bullet ------------------------------------------*/

.shopBullet {
	aspect-ratio: 305/240;
	border-radius: rem(10);
	&_dots {
		padding-inline: 0.35rem;
	}
	&_dot:after {
		height: rem(4);
		margin-bottom: 0.35rem;
	}

	img {
		transition: transform 0.3s ease-in-out;
	}
	&:hover {
		img {
			transform: scale(1.05);
		}
	}
}

.section-banner {
	@include md {
		aspect-ratio: 128/42;
		img {
			display: block;
			border-radius: rem(10);
			overflow: hidden;
			height: 100%;
		}
	}
}
.section-ajax {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: rem(15);

	padding-inline: rem(30);
	min-height: rem(50);

	border-radius: rem(5);

	margin-inline: auto;

	background: var(--accent);
	transition: opacity 0.3s ease-in-out;

	margin-top: rem(50);

	@include sm {
		margin-top: rem(30);
	}

	&:hover {
		opacity: 0.75;
	}

	&_icon {
		display: block;
		width: rem(16);
		height: rem(16);
	}

	&_name {
		font-weight: 500;
		font-size: rem(16);
		color: var(--white);
	}
}

/*---------------------------------------------- SECTION HEADER ----------------------------------------------------*/

.section-header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-bottom: rem(30);

	&_title {
		font-family: var(--font-title);
		font-weight: 700;
		font-size: rem(28);
		line-height: 120%;
		color: #1a1a1a;
	}
	&_link {
		display: block;

		font-family: var(--font-main);
		font-weight: 500;
		font-size: rem(16);
		line-height: 120%;
		text-align: right;
		color: var(--accent);

		transition: all 0.3s ease-in-out;

		&:hover {
			color: black;
		}
	}
}

/*---------------------------------------------- PRODUCT CARD ----------------------------------------------------*/

.product-card {
	position: relative;

	display: flex;
	flex-direction: column;

	background-color: var(--white);
	padding: rem(10) rem(10) rem(20) rem(10);
	border-radius: rem(10);

	height: 100%;

	// Прелоадер
	&_preloader {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		&_body {
			display: block;
			width: rem(48);
			height: rem(48);
			border-radius: 50%;
			position: relative;
			animation: rotate 1s linear infinite;

			&::before {
				content: "";
				box-sizing: border-box;
				position: absolute;
				inset: 0;
				border-radius: 50%;
				border: 5px solid rgb(230, 0, 0, 0.65);
				animation: prixClipFix 2s linear infinite;
			}
		}
	}

	// Галлерея со слайдером
	&_image {
		position: relative;

		aspect-ratio: 305/240;
		border-radius: rem(10);
		overflow: hidden;

		img {
			display: block;
			width: 100%;
			height: auto;
			object-fit: cover;
			overflow: hidden;

			transition: all 0.3s ease-in-out;
		}

		&:hover {
			img {
				transform: scale(1.05);
			}
		}
	}

	// Рейтинг
	&_rating {
		position: absolute;
		top: rem(20);
		left: rem(20);

		display: inline-flex;
		align-items: center;
		gap: rem(5);

		padding: rem(9) rem(10);
		border-radius: rem(5);

		color: var(--white);
		background-color: var(--accent);

		z-index: 3;

		svg {
			fill: var(--white);
			width: rem(14);
			height: rem(14);
		}

		span {
			display: block;
			max-height: rem(14);
			font-family: var(--font-main);
			font-weight: 500;
			font-size: rem(14);
			line-height: 120%;
			text-transform: uppercase;
		}
	}

	// В избранное
	&_like {
		position: absolute;
		top: rem(10);
		right: rem(10);

		z-index: 3;

		svg {
			width: 27px;
			height: 27px;

			stroke: var(--white);
			stroke-width: 2;
			fill: none;
			transition: all 0.3s ease-in-out;
		}
		&.liked svg {
			stroke: var(--accent);
			fill: var(--accent);
		}

		&:hover svg {
			stroke: var(--accent);
		}
	}

	&_spacebetween {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		flex-grow: 1;

		padding-inline: rem(10);
	}

	&_info {
		padding-top: rem(20);
		flex-grow: 1;
	}

	&_price {
		margin-bottom: rem(10);

		strong {
			font-weight: 700;
			font-size: rem(22);
			line-height: 120%;
			color: var(--black);

			margin-right: rem(7);
		}
		small {
			font-weight: 500;
			font-size: rem(16);
			line-height: 120%;
			color: #b1b1b1;
		}
	}

	&_title {
		margin-bottom: rem(20);

		h2 {
			font-family: var(--font-title);
			font-weight: 500;
			font-size: rem(17);
			line-height: 120%;

			color: var(--black);
			transition: color 0.3s ease-in-out;
			&:hover {
				color: var(--accent);
			}
		}
	}

	&_meta {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.meta-timeago {
			font-family: var(--font-main);
			font-weight: 400;
			font-size: rem(15);
			line-height: 120%;
			color: #3d3d3d;
			opacity: 0.5;
		}

		.meta-location {
			display: inline-flex;
			align-items: center;
			gap: rem(5);

			transition: all 0.3s ease-in-out;

			&:hover {
				opacity: 0.75;
			}

			&_name {
				font-weight: 400;
				font-size: rem(15);
				line-height: 120%;
				color: var(--black);
			}
		}

		.icon--map-pin {
			width: rem(14);
			height: rem(18);
		}
	}
}

/*---------------------------------------------- INPUTS ----------------------------------------------------*/

.textarea {
	display: block;
	width: 100%;

	border: 1px solid #efeaea;
	border-radius: rem(5);

	min-height: rem(200);
	padding: rem(15);

	font-weight: 400;
	font-size: rem(16);
	line-height: 120%;
	color: #3d3d3d;

	resize: none;

	&::placeholder {
		color: #969696;
	}
	&:focus {
		outline: 1px solid var(--accent);
	}
}

.input {
	display: block;
	width: 100%;

	border: 1px solid #efeaea;
	border-radius: rem(5);

	min-height: rem(50);
	padding-inline: rem(15);

	font-weight: 400;
	font-size: rem(16);
	line-height: 120%;
	color: #3d3d3d;

	&::placeholder {
		color: #969696;
	}
	&:focus {
		outline: 1px solid var(--accent);
	}
}

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	font-weight: 500;
	font-size: rem(16);

	color: var(--white);
	background-color: var(--accent);
	border-radius: rem(5);
	min-height: rem(50);

	cursor: pointer;

	padding-inline: rem(15);

	transition: all 0.3s ease-in-out;

	&:hover {
		opacity: 0.75;
	}
}

// Кнопка добавть в список
.btn-add {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: rem(15);

	padding-inline: rem(30);
	min-height: rem(50);

	border-radius: rem(5);

	background: var(--accent);
	transition: opacity 0.3s ease-in-out;

	&:hover {
		opacity: 0.75;
	}

	&_before {
		display: flex;
		align-items: center;
		justify-content: center;

		flex-shrink: 0;

		height: rem(20);
		width: rem(20);

		border-radius: rem(3);
		background-color: var(--white);
	}

	&_name {
		font-weight: 500;
		font-size: rem(16);
		color: var(--white);
	}
}
.btn-gray {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	padding-inline: rem(30);
	min-height: rem(50);

	border-radius: rem(5);

	background: #f0f0f0;

	font-weight: 500;
	font-size: rem(16);
	color: #1a1a1a;

	cursor: pointer;
	transition: color 0.3s ease-in-out;
	&:hover {
		color: var(--accent);
	}
}

/*-------------------------------------------- Rating ----------------------------------------------------*/
[class*="_rating"] {
	display: inline-flex;
	align-items: center;
	gap: rem(12.5);

	.rating {
		&-num {
			font-weight: 500;
			font-size: rem(16);
			color: #1a1a1a;
		}

		&-stars {
			display: inline-flex;
			align-items: center;
			gap: rem(3);

			&_star {
				svg {
					fill: transparent;
					stroke: #f7c74d;
					width: rem(18);
					height: rem(17);

					transition: all 0.3s ease-in-out;
				}

				&.active svg {
					fill: #f7c74d;
				}
			}
		}
		&-reviews {
			font-weight: 400;
			font-size: rem(14);
			color: #969696;
		}
	}
}

/*-------------------------------------------- Collection ----------------------------------------------------*/
[class*="_collection"] {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: rem(10);
}

[class*="_collection-figure"] {
	aspect-ratio: 1/1;
	width: rem(80);
	display: block;
	border-radius: rem(5);
	overflow: hidden;

	&:hover img {
		transform: scale(1.1);
	}

	img {
		display: block;
		width: 100%;
		height: auto;
		object-fit: cover;
		overflow: hidden;

		transition: all 0.3s ease-in-out;
	}
}

/*-------------------------------------------- ads-tabs ----------------------------------------------------*/
[class*="_tabs"] {
	position: relative;

	display: inline-flex;
	align-items: center;
	gap: rem(40);

	width: 100%;

	margin-bottom: rem(40);
	overflow-x: hidden;

	&:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: rem(-100);
		right: rem(-100);
		height: 1px;
		border-bottom: 1px solid #efeaea;
	}

	.site-tab,
	.login-tab,
	.signup-tab {
		display: inline-flex;
		gap: rem(8);
		align-items: start;

		font-weight: 500;
		font-size: rem(16);
		color: #1a1a1a;
		border-bottom: 3px solid transparent;

		padding: rem(10) 0;

		transition: all 0.3s ease-in-out;
		span {
			display: inline-block;
			font-weight: 500;
			font-size: rem(16);
			line-height: 120%;
			color: #1a1a1a;
			transition: all 0.3s ease-in-out;
		}

		small {
			display: inline-block;
			font-weight: 500;
			font-size: rem(12);
			line-height: 120%;
			color: #b1b1b1;
			transition: all 0.3s ease-in-out;
		}

		&:hover {
			span,
			small {
				color: rgb(230, 0, 0, 0.65);
			}
			color: rgb(230, 0, 0, 0.65);
		}
		&.active {
			span,
			small {
				color: rgb(230, 0, 0);
			}
			color: var(--accent);
			border-bottom: 3px solid var(--accent);
		}
	}
}

/*-------------------------------------------- RADIO CHECKBOX  ----------------------------------------------------*/
.radio,
.checkbox {
	display: block;
	position: relative;
	font-size: rem(14);
	user-select: none;
	cursor: pointer;
	font-weight: 400;
}

/* скрываем оригинальный радиобатон */
.checkbox input[type="checkbox"],
.radio input[type="radio"] {
	position: absolute;
	opacity: 0;
}

/* стиль кастомного овала */
.custom-radio,
.custom-checkbox {
	position: relative;

	display: flex;
	align-items: center;
	min-height: rem(40);
	padding: rem(5) rem(20);

	border: 1px solid #d5d5d5;
	border-radius: rem(100);

	color: #3d3d3d;
	background-color: #fff;

	transition: all 0.3s ease-in-out;
}

/* выделение выбранного варианта */
.checkbox input[type="checkbox"]:checked + .custom-checkbox,
.radio input[type="radio"]:checked + .custom-radio {
	border-color: var(--accent);
	color: var(--accent);
}

/* Можно добавить эффект при наведении */
.checkbox:hover .custom-checkbox,
.radio:hover .custom-radio {
	border-color: #999;
}

/* --------------------------------------------------------------- Search orderby --------------------------------------------------------------------*/

.search-orderby {
	&__row {
		display: inline-flex;
		align-items: center;
		gap: 3px;
	}

	&__select {
		width: 100%;
		font-weight: 400;
		font-size: rem(16);
		color: var(--text);
		cursor: pointer;

		@include md {
			font-size: rem(12);
		}
	}
}

/* ------------------------------------------------- Rate label  --------------------------------------------------------------------*/

.rate-label {
	align-self: flex-start;

	display: inline-flex;
	align-items: center;
	gap: 5px;

	min-height: 30px;

	padding-top: 1px;	
	padding-inline: 10px;
	border-radius: 5px;

	font-weight: 500;
	font-size: 14px;
	line-height: 100%;
	text-transform: uppercase;
	border: 1px solid transparent;

	&--top {
		background-color: var(--gold);
		border: 1px solid var(--gold);
		color: #1a1a1a;
		svg {
			stroke: #1a1a1a;
			fill: #1a1a1a;
		}
	}

	&--new {
		background-color: transparent;
		border: 1px solid #45c34e;
		color: #45c34e;
		svg {
			stroke: #45c34e;
			fill: #45c34e;
		}
	}

	svg {
		width: 12px;
		aspect-ratio: 1/1;
	}
}

/* ------------------------------------------------- Price  --------------------------------------------------------------------*/

.price {
	&-base {
		font-weight: 700;
		font-size: 22px;
		line-height: 120%;
		color: var(--black);
		margin-right: 7px;
	}
	&-old {
		font-weight: 500;
		font-size: 16px;
		line-height: 1.2;
		color: #b1b1b1;
	}
}
