/* ------------------------------------------------------------------------------------------------------------------------------
FOOTER
--------------------------------------------------------------------------------------------------------------------------------*/
.footer {
	position: relative;

	min-height: rem(320);
	display: flex;
	align-items: center;

	margin-top: rem(35);

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: -100vw;
		height: 1px;
		width: 300vw;
		border-top: 1px solid #efeaea;
	}

	&-text {
		display: block;
		text-transform: uppercase;
		text-align: center;

		font-weight: 400;
		font-size: rem(80);
		line-height: 140%;
		color: #c0c0c0;
	}
}
