/* Обертка для изображений */
.gallery-wrapper {
	position: relative;
	width: 100%;
	height: auto; /* фиксированная высота или подгоняй под свои изображения */
	overflow: hidden;
}

/* Все изображения */
.product-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: none; /* по умолчанию скрыты */
	transition: opacity 0.3s ease;
	opacity: 0;
}

/* Активное изображение */
.product-image.active {
	display: block;
	opacity: 1;
	position: relative; /* чтобы не было слоя */
}

/* Обертка для точек навигации */
.gallery-dots {
	display: flex;
	justify-content: space-between; /* равномерное распределение */
	width: 100%; /* занимает всю ширину контейнера */
	height: 100%;
	position: absolute; /* или по вашему дизайну */
	bottom: 0;
	z-index: 3;

    padding-inline: 8px;
    padding-bottom: 7px;
}

/* Точки навигации */
.dot {
	position: relative;
	flex: 1; /* все точки растягиваются одинаково */
	margin: 0 2px; /* отступы между точками */
	height: 100%; /* размер точки */
   
	&:after {
		content: "";
		position: absolute;
		bottom: 0;		
		width: 100%;
		height: 4px;

		border-radius: 10px;
		background: white;
		opacity: 1;
	}
}

/* Активная точка */
.dot.active {
	&:after {
		background: var(--accent);
	}
}

/* Немного интерактивности при наведении */
.dot:hover {
	&:after {
		background: var(--accent);
	}
}
