/* ------------------------------------------------------------------------------------------------------------------------------
HEADER
--------------------------------------------------------------------------------------------------------------------------------*/
.header {
	position: sticky;
	top: 0;
	margin-bottom: rem(25);
	background-color: #fff;
	z-index: 50;
	// Верхняя часть хедера
	&-top {
		position: relative;

		display: flex;
		align-items: center;
		justify-content: space-between;

		min-height: rem(46);

		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: -100vw;
			height: 1px;
			width: 300vw;
			border-bottom: 1px solid #efeaea;
		}

		&_list {
			display: inline-flex;
			align-items: center;
			gap: rem(40);

			@include sm {
				gap: rem(20);
			}

			@media (max-width: 440px) {
				display: none;
			}

			a {
				font-weight: 400;
				font-size: rem(15);
				line-height: 120%;
				color: #3d3d3d;

				transition: all 0.3s ease-in-out;
				&:hover {
					color: var(--accent);
				}
			}
		}

		&_right {
			display: flex;
			align-items: center;
			justify-content: space-between;

			gap: rem(50);
		}

		// Курс валют
		&_currency {
			display: inline-flex;
			align-items: center;
			gap: rem(5);

			cursor: pointer;
			user-select: none;

			&_name {
				font-weight: 400;
				font-size: rem(15);
				color: #b1b1b1;
				text-transform: uppercase;
			}
			&_rate {
				font-weight: 400;
				font-size: rem(15);
				text-align: right;
				color: #3d3d3d;
			}
		}

		&_inaccount {
			&:hover svg {
				fill: var(--accent);
			}

			svg {
				width: rem(18);
				height: rem(18);
				fill: #b1b1b1;

				transition: all 0.3s ease-in-out;
			}
		}

		&_profile {
			display: inline-flex;
			align-items: center;
			gap: rem(22);

			padding-top: rem(5);
		}

		// Сообщения
		&_messages {
			position: relative;
			cursor: pointer;

			&:hover svg {
				stroke: var(--accent);
			}

			svg {
				stroke: #b1b1b1;
				stroke-width: 1.8px;

				transition: all 0.3s ease-in-out;

				width: rem(19);
				height: rem(17);
			}

			&.accent:before {
				position: absolute;
				content: "";
				top: 0;
				right: 0;
				transform: translate(30%, -40%);
				width: rem(8);
				height: rem(8);
				background-color: var(--accent);
				border-radius: 50%;
			}
		}

		// Сообщения
		&_orders {
			cursor: pointer;

			&:hover svg {
				stroke: var(--accent);
			}

			svg {
				stroke: #b1b1b1;
				stroke-width: 1.8px;

				transition: all 0.3s ease-in-out;

				width: rem(17);
				height: rem(20);
			}
		}

		// Сообщения
		&_favourite {
			cursor: pointer;

			&:hover svg {
				stroke: var(--accent);
			}

			svg {
				stroke: #b1b1b1;
				stroke-width: 1.8px;

				transition: all 0.3s ease-in-out;

				width: rem(19);
				height: rem(17);
			}
		}
	}

	// Нижняя часть хедера
	&-bottom {
		position: relative;

		display: flex;
		align-items: center;
		justify-content: space-between;

		padding-block: rem(20);

		@include lg {
			flex-wrap: wrap;
		}

		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: -100vw;
			height: 1px;
			width: 300vw;
			border-bottom: 1px solid #efeaea;
		}
		&_intro {
			display: flex;
			align-items: center;
			flex-grow: 1;

			@include sm {
				width: 100%;
				margin-bottom: rem(12);
				justify-content: space-between;
			}
		}

		&_nav {
			display: flex;
			align-items: center;
			gap: rem(20);

			@include lg {
				width: 100%;
				margin-top: rem(20);
				justify-content: flex-end;
			}
		}
	}

	// BURGER BUTTON
	&-burger {
		position: relative;
		display: inline-block;

		width: rem(28);
		height: rem(19);

		margin-right: rem(20);
		flex-shrink: 0;

		cursor: pointer;

		span,
		&::before,
		&::after {
			display: block;
			content: "";
			transition: all 0.3s ease-in-out;
			position: absolute;
			left: 0;
			width: 100%;
			height: 3px;
			background-color: var(--accent);
			border-radius: rem(10);
			opacity: 0.85;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: 50%;
			transform: translateY(-50%);
		}
		&.active span {
			width: 0;
			background-color: var(--accent);
		}
		&.active::before {
			top: 50%;
			transform: translateY(-50%) rotate(-45deg);
			background-color: var(--accent);
		}
		&.active::after {
			bottom: 50%;
			transform: translateY(50%) rotate(45deg);
			background-color: var(--accent);
		}
	}

	// Лого
	&-logo {
		display: inline-flex;
		align-items: center;
		gap: rem(15);

		margin-right: rem(35);

		&_icon {
			flex-shrink: 0;
		}

		&_name {
			font-family: var(--font-title);
			font-weight: 700;
			font-size: rem(26);
			color: var(--accent);
		}
	}

	
	&-search-form {
		display: flex;
		align-items: center;
		flex-grow: 1;
		gap: rem(10);
		min-height: rem(50);

		border: 1px solid #f8f8f8;
		background-color: #f8f8f8;

		padding: rem(8) rem(20);

		border-radius: rem(5);

		margin-right: rem(25);

		@include lg {
			margin-right: 0;
		}

		.search-input {
			width: 100%;
			font-size: rem(16);
			background-color: #f8f8f8;
			padding-left: rem(2);
		}
		.search-button {
			flex-shrink: 0;
			padding-top: rem(5);
		}
	}

	// Кнопка локация
	&-location {
		display: inline-flex;
		align-items: center;
		gap: rem(10);

		margin-right: rem(40);
		transition: all 0.3s ease-in-out;

		@include sm {
			margin-right: 0;
		}

		&:hover {
			opacity: 0.75;
		}

		&_icon {
			flex-shrink: 0;
		}

		&_name {
			font-weight: 500;
			font-size: rem(16);
			color: var(--black);
		}
	}


	// Кнопка войти
	&-sign-in {
		display: flex;
		align-items: center;
		justify-content: center;

		padding-inline: rem(30);
		min-height: rem(50);

		border-radius: rem(5);

		background: #f0f0f0;

		&:hover .header-sign-in_name {
			color: var(--accent);
		}

		&_name {
			font-weight: 500;
			font-size: rem(16);
			color: #000;
			transition: color 0.3s ease-in-out;
		}
	}
}
