/* ------------------------------------------------------------------------------------------------------------------------------
INNER SWIPER PAGINATION
--------------------------------------------------------------------------------------------------------------------------------*/
.main-daily,
.main-recomend,
.main-products,
.main-featured {
	/* Общий стиль для контейнера пагинации */
	.swiper-pagination {
		display: flex;
		justify-content: space-between; /* равномерное распределение */
		width: 100%; /* занимает всю ширину контейнера */
		position: absolute; /* или по вашему дизайну */
		bottom: 10px; /* чуть ниже слайдов, по необходимости */
		padding-inline: 10px;
		z-index: 3;		
	}

	/* Стиль для точек */
	.swiper-pagination-bullet {
		flex: 1; /* все точки растягиваются одинаково */
		margin: 0 2px; /* отступы между точками */
		height: 4px; /* размер точки */
		border-radius: 10px;
		background: #ffffff;
		opacity: 1;
		cursor: pointer;
	}

	/* Активная точка */
	.swiper-pagination-bullet-active {
		background: var(--accent);
	}
}
