/*-----------------------------------------------------------------------------------------------------------------
PAGE MAIN RECOMEND SECTION
 -------------------------------------------------------------------------------------------------------------------*/
.product-section { 
	 margin-bottom: rem(55);

	 .container {
		margin-bottom: rem(50);		
	}
	 .section-header {
		margin-bottom: rem(20);
	}

	 .product-card {
		padding: 0;

		&_spacebetween {
			padding-inline: 0;
		}
	}

	 .product-card_meta {
		display: inline-flex;
		justify-content: start;
		gap: rem(15);
	}
}
