/* ------------------------------------------------------------------------------------------------------------------------------
PAGE MAIN FEATURED SECTION
--------------------------------------------------------------------------------------------------------------------------------*/
.main-featured{
    margin-bottom: 60px;

    .container-greyout{
        margin-bottom: 50px;
    }
    .product-card_like{
        top: 20px;
        right: 20px;
    }
}