/*-----------------------------------------------------------------------------------------------------------------
PAGE MAIN RECOMEND SECTION
 -------------------------------------------------------------------------------------------------------------------*/
.product-section { 
	 margin-bottom: 55px;

	 .container {
		margin-bottom: 50px;		
	}
	 .section-header {
		margin-bottom: 20px;
	}

	 .product-card {
		padding: 0;

		&_spacebetween {
			padding-inline: 0;
		}
	}

	 .product-card_meta {
		display: inline-flex;
		justify-content: start;
		gap: 15px;
	}
}
