/*-----------------------------------------------------------------------------------------------------------------
PROFILE LAYOUT
 ------------------------------------------------------------------------------------------------------------------*/
 .profile-layout{
    display: flex;
    gap: rem(40);
    
    &_aside{
        width: rem(290);      
        flex-shrink: 0;
    }
    &_content{
        flex-grow: 1;           
    }
 }