<head>  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@@title</title>
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <!-- Swiper CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css" />
   
  <!-- Choices CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
  
  <!-- WL ShopBullet CSS-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Webpolka/shopBullet@main/docs/css/main.min.css">

  <link rel="stylesheet" href="vendor/bootstrap-grid.css">
  <link rel="stylesheet" href="css/main.min.css">  
</head>
 
  