/* ------------------------------------------------------------------------------------------------------------------------------
Listings block
--------------------------------------------------------------------------------------------------------------------------------*/

.listings-block {
	padding-top: rem(30);
	padding-bottom: rem(30);

	border-bottom: 1px solid #efeaea;
	margin-bottom: 30px;	

	&__title {
		display: inline-flex;
		align-items: flex-start;
		gap: rem(8);

		font-weight: 500;
		font-size: rem(24);
		line-height: 120%;
		color: #1a1a1a;

		margin-bottom: rem(5);

		span {
			font-weight: 500;
			font-size: rem(24);
			line-height: 120%;
			color: #1a1a1a;
		}

		small {
			font-weight: 500;
			font-size: rem(14);
			line-height: 120%;
			color: #b1b1b1;
		}
	}

	&__description {
		display: block;

		font-weight: 400;
		font-size: rem(15);
		line-height: 130%;
		color: #b1b1b1;

		margin-bottom: rem(20);
	}

	&__all {
		margin-top: rem(30);
		margin-bottom: rem(10);
		.btn {
			padding-inline: rem(30);
		}
	}

	.product-card {
		padding: 0;

		&_like {
			top: rem(14);
			right: rem(8);
			svg {
				width: rem(26);
				height: rem(24);
			}
		}

		&_meta {
			justify-content: flex-start;
			gap: rem(20);
		}

		&_spacebetween {
			padding-inline: 0;
		}

		&_price {
			strong {
				font-weight: 500;
			}
			margin-bottom: rem(8);
		}

		&_title {
			margin-bottom: rem(15);
		}
	}

    
	&_noadds {
		padding-top: rem(35);
		padding-bottom: rem(40);
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}

	border-bottom: 1px solid #efeaea;

	&_noicon {
		svg {
			width: rem(32);
			height: rem(32);
		}
		margin-bottom: rem(7);
	}

	&_warning {
		text-align: center;
		font-weight: 400;
		font-size: rem(16);
		line-height: 130%;
		color: #3d3d3d;

		margin-bottom: rem(25);
	}
}
