/*-----------------------------------------------------------------------------------------------------------------
SERVICES COMPANY LAYOUT
 ------------------------------------------------------------------------------------------------------------------*/
.services-layout {
	display: flex;
	gap: rem(40);

	padding-top: 30px;
	margin-bottom: rem(70);

	&_aside {
		width: rem(290);
		flex-shrink: 0;
	}
	&_content {
		flex-grow: 1;
	}
}
