/* ------------------------------------------------------------------------------------------------------------------------------
PAGE MAIN FEATURED SECTION
--------------------------------------------------------------------------------------------------------------------------------*/
.main-featured{
    margin-bottom: rem(10);   

    .container-greyout{
        margin-bottom: rem(50);
    }
    .product-card_like{
        top: rem(20);
        right: rem(20);
    }
}