/*-----------------------------------------------------------------------------------------------------------------
PAGE MAIN RECOMEND SECTION
 -------------------------------------------------------------------------------------------------------------------*/
.product-section { 	 
	 .section-header {
		margin-bottom: rem(20);
	}
	.section-banner{
		margin-top: 40px;
	}

	 .product-card {
		padding: 0;

		&_spacebetween {
			padding-inline: 0;
		}
	}

	 .product-card_meta {
		display: inline-flex;
		justify-content: start;
		gap: rem(15);
	}
}
