/*-----------------------------------------------------------------------------------------------------------------
LAYOUTS
 ------------------------------------------------------------------------------------------------------------------*/
.column_66 {
	width: 66.6%;

	display: flex;
	flex-direction: column;
	gap: rem(40);
}
.column_33 {
	width: 33.3%;

	display: flex;
	flex-direction: column;
	gap: rem(30);
}

.search-by-parametrs__group {
	@include xl {
		.column_66{
			width: 100%;
		}
		.column_33 {
			display: none;
			width: 100%;
		}
	}
}

.interesting-today-vehicles__group{
	@include xl {
		.column_66{
			width: 100%;
		}
		.column_33 {			
			width: 100%;
		}
	}
}
