/* ------------------------------------------------------------------------------------------------------------------------------
BASE
--------------------------------------------------------------------------------------------------------------------------------*/
html {
	scroll-behavior: smooth;
}

body {
	text-wrap: balance;
}

* {
	&::-webkit-scrollbar {
		inline-size: rem(10);
		background-color: var(--scrollbar);
	}

	&::-webkit-scrollbar-track {
		border-radius: rem(10);
		box-shadow: inset 0 0 rem(6) rgba(#000, 20%);
		background: var(--scrollbar-track);
	}

	&::-webkit-scrollbar-thumb {
		border-radius: rem(10);
		border: 0 none #fff;
		background-color: var(--scrollbar-thumb);
		cursor: pointer;

		@include any-hover {
			background-color: rgb(238, 0, 0, 0.5);
		}
	}
}
.container-greyout {
	margin-inline: auto;
	max-inline-size: calc(var(--container-width) + 50px);
	background-color: rgb(0, 0, 0, 0.06);

	border-radius: 10px;

	padding-inline: 40px;
	padding-block: 40px;
}

.container {
	margin-inline: auto;
	max-inline-size: var(--container-width);
	padding-inline: var(--container-padding);
}
.container-full {
	padding: 0 var(--container-padding);
	max-width: 100%;
}
.img-responsive {
	display: block;
	width: 100%;
	height: auto;
	object-fit: cover;
	overflow: hidden;
}
.img-reponsive-contain {
	display: block;
	width: 100%;
	height: auto;
	object-fit: contain;
	overflow: hidden;
}
.site-overlay {
	opacity: 0;
	visibility: hidden;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(0, 0, 0, 0.25);

	z-index: 100;
	transition: all 0.3s ease-in-out;

	&.active {
		opacity: 1;
		visibility: visible;
	}
}
.no-scroll {
	overflow: hidden;	
}

.posar {
	position: relative;
}

.image-bg {
	position: relative;

	img {
		display: block;
		position: absolute;
		inset-block-start: 0;
		inset-inline-start: 0;
		object-fit: cover;
		block-size: 100%;
		inline-size: 100%;
	}
}

.screen-reader-text {
	position: absolute;
	left: -9999px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	position: static;
	width: auto;
	height: auto;
	clip: auto;
	background: #000; /* или другой фон для выделения */
	color: #fff; /* цвет текста */
	padding: 8px;
	z-index: 1000;
}

.visually-hidden {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0 0 0 0) !important;
	white-space: nowrap !important; /* предотвращает перенос текста */
	border: 0 !important;
}

.wrapper {
	position: relative;
	display: flex;
	min-block-size: 100%;

	/** Поменять на clip - если используется в проекте position: sticky */
	overflow: clip;
	flex-direction: column;
}

.main {
	position: relative;
	flex: 1 1 auto;
}
