/* ------------------------------------------------------------------------------------------------------------------------------
KEYFRAMES
--------------------------------------------------------------------------------------------------------------------------------*/
@keyframes show-header {
	0% {
		inset-block-start: -100%;
	}

	100% {
		inset-block-start: 0;
	}
}

@keyframes fade-up-big {
	0% {
		opacity: 0;
		transform: translateY(1rem);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes list-down {
	0% {
		opacity: 0;		
		max-height: 0;
	}

	100% {
		opacity: 1;		
		max-height: initial;
	}
}



@keyframes fade-up {
	0% {
		opacity: 0;		
	}

	100% {
		opacity: 1;		
	}
}

@keyframes rotation {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(359deg);
	}
}

@keyframes prixClipFix {
	0% {
		clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
	}
	25% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
	}
	50% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
	}
	75% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
	}
	100% {
		clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
	}
}

/* ------------------------------------------------------------------------------------------------------------------------------
MEDIAQUERIES 
--------------------------------------------------------------------------------------------------------------------------------*/
