/* ------------------------------------------------------------------------------------------------------------------------------
ROOT
--------------------------------------------------------------------------------------------------------------------------------*/
:root {
	--container-width: 1310px;
	--container-padding: 15px;

	--bs-gutter-x: var(--container-padding); // For bootstrap if it is connected

	--font-main: "HelveticaNeue", sans-serif;
	--font-title: "HelveticaNeue", sans-serif;

	--white: white;
	--black: #1a1a1a;
	--accent: #e60000;
	--red: #e60000;
	--border: #efeaea;
	--gold: #f7c74d;
	--green: #45c34e;

	--scrollbar: gray;
	--scrollbar-track: gray;
	--scrollbar-thumb: var(--accent);
}
