/* ------------------------------------------------------------------------------------------------------------------------------
TYPOGRAPHY
--------------------------------------------------------------------------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-title);
}

.icon--like {
	width: 22px;
	height: 20px;
}
.icon--map-pin {
	width: 15px;
	height: 20px;
}
.icon--eagle {
	width: 34px;
	height: 40px;
}
.icon--burgersvg {
	width: 28px;
	height: 19px;
}
.icon--searchsvg {
	width: 20px;
	height: 20px;
}
.icon--plus {
	width: 12px;
	height: 12px;
	stroke: var(--accent);
}
.icon--refresh{
	width: 16px;
	height: 16px;
}
