/*-----------------------------------------------------------------------------------------------------------------
PROFILE USER PAGE
 ------------------------------------------------------------------------------------------------------------------*/
.profile-user {
	&_title {
		display: inline-flex;
		align-items: flex-start;
		gap: rem(8);

		font-weight: 500;
		font-size: rem(24);
		line-height: 120%;
		color: #1a1a1a;

		margin-bottom: rem(10);

		span {
			font-weight: 500;
			font-size: rem(24);
			line-height: 120%;
			color: #1a1a1a;
		}

		small {
			font-weight: 500;
			font-size: rem(14);
			line-height: 120%;
			color: #b1b1b1;
		}
	}

	&_description {
		display: block;

		font-weight: 400;
		font-size: rem(15);
		line-height: 130%;
		color: #b1b1b1;

		margin-bottom: rem(20);
	}

	&_collection {
		margin-bottom: rem(25);
	}

	/*------------------------------------------------------------- TOP TILES PART ---------------------------------------------------*/
	&_tile {
		border: 1px solid #efeaea;
		border-radius: rem(10);
		padding: rem(35) rem(40);
		height: 100%;

		display: flex;
		flex-direction: column;
		justify-content: space-between;

		overflow: hidden;

		.tile_title {
			font-weight: 500;
			font-size: rem(20);
			line-height: 120%;
			color: #1a1a1a;

			display: inline-flex;
			align-items: center;
			gap: rem(12);

			margin-bottom: rem(10);

			svg {
				width: rem(22);
				height: rem(22);
			}
		}

		.tile_description {
			font-weight: 400;
			font-size: rem(14);
			line-height: 130%;
			color: #b1b1b1;

			margin-bottom: rem(20);
		}

		.tile_row {
			display: inline-flex;
			align-items: center;
			gap: rem(20);

			.btn,
			.btn-gray {
				padding-inline: rem(30);
			}
		}
	}
		/*------------------------------------------------------------- LISTINGS PART ---------------------------------------------------*/
	&_listings {
		.product-card {
			padding: 0;

			&_like {
				top: rem(14);
				right: rem(8);
				svg {
					width: rem(26);
					height: rem(24);
				}
			}

			&_meta {
				justify-content: flex-start;
				gap: rem(20);
			}

			&_spacebetween {
				padding-inline: 0;
			}

			&_price {
				strong {
					font-weight: 500;
				}
				margin-bottom: rem(8);
			}

			&_title {
				margin-bottom: rem(15);
			}
		}
	}

	/*------------------------------------------------------------- REVIEWS PART ---------------------------------------------------*/
	&_rating {
		margin-bottom: rem(15);
	}	
	
}
