/*-----------------------------------------------------------------------------------------------------------------
PROFILE LAYOUT
 ------------------------------------------------------------------------------------------------------------------*/
.profile-layout {
	display: flex;
	gap: rem(40);

	margin-bottom: rem(70);

	&_aside {
		width: rem(290);
		flex-shrink: 0;
	}
	&_conversations {
		width: rem(400);
		flex-shrink: 0;
	}
	&_content {
		flex-grow: 1;
	}
}
